@page
@model Maslo.UI.Areas.Admin.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kros</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kros.KrosName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kros.KrosName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kros.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kros.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kros.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kros.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kros.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kros.Category.GroupName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Kros.KrosId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
